<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1><%= title %></h1>
    <% if ( userFullName ) { %>
		           <h2>Hello <%=userFullName%> </h2>
		           <a href="/logout">Sign out</a>
		         <% } else { %>
		           <a href="/register">Register</a>
		           <a href="/login">Login</a>
		<% } %>
		       <br>
	</body>
</html>
