<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title %>
    </title>
</head>

<body>
    <% for(var i in messages) { %>
        <div class="flash">
            <%= messages[i] %>
        </div>
    <% } %>
        <form action="/register" method="post">
            <div>
                <label>Name:</label>
                <input type="text" name="name" />
            </div>
            <div>
                <label>Email:</label>
                <input type="text" name="email" />
            </div>
            <div>
                <label>Username:</label>
                <input type="text" name="username" />
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password" />
            </div>
            <div>
                <input type="submit" value="Sign up" />
            </div>
        </form>
</body>

</html>
